@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

body {
  padding: 0 80px;
  background-color: rgba(247, 247, 252, 1);
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont,
  system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
  "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", sans-serif;
}

button {
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  outline: inherit;
}

input {
  border: none;
  outline: none;
  font: inherit;
}

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}

.display-bold14 {
  font-family: "Pretendard Variable";
  font-size: 14px;
  line-height: 16.41px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-weight: 700;
}

.display-bold16 {
  font-family: "Pretendard Variable";
  font-size: 16px;
  line-height: 18.75px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-weight: 700;
}

.display-Medium14 {
  font-family: Pretendard Variable;
  font-size: 14px;
  line-height: 16.41px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.display-Medium12 {
  font-family: Pretendard Variable;
  font-size: 12px;
  line-height: 14.06px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: rgba(20, 20, 43, 1);
  display: flex;

  gap: 8px;
}

.history-btn {
  background: none;
  border: none;
}

.sort-btn {
  width: 75px;
  height: 24px;
  background: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(78, 75, 102, 1);
  border: 1px solid rgba(190, 193, 213, 1);
}

main {
  /* background-color: rgba(20, 20, 43, 1); */
}

.task-lists {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.task-list {
  width: 320px;
  height: 24px;
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  font-family: "Pretendard Variable";
  font-size: 16px;
  position: relative;
  gap: 8px;
}

.column {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.column-title {
  font-weight: 700;
  color: rgba(78, 75, 102, 1);
  margin-right: 9px;
}

.add-btn {
  position: absolute;
  right: 40px;
}

.delete-btn {
  position: absolute;
  right: 9px;
}

.card-delete-edit {
  display: flex;
  flex-direction: column;
}

.card-edit-btn {
  background: none;
  border: none;
}

.card-close-btn {
  background: none;
  border: none;
}

.task {
  display: flex;
  justify-content: space-between;
  width: 288px;
  min-height: 72px;
  height: auto;
  padding: 16px;
  border-color: black;
  border-width: thin;
  border-radius: 8px;
  background-color: rgba(254, 254, 254, 1);
  box-shadow: 0 1px 4px 0 rgba(110, 128, 145, 0.24);
  margin: 16px 0 0 0;
  word-break: break-all;
  order: 1;
}

.title-cont-au {
  font-family: "Pretendard Variable";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.content-author-divider {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-title {
  font-size: 14px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-weight: 700;
  color: rgba(20, 20, 43, 1);
}

.task-body {
  font-size: 14px;
  font-weight: 500;
  color: rgba(110, 113, 145, 1);
  width: 100%;
}

.task-author {
  font-size: 12px;
  line-height: 14.32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-weight: 500;
  color: rgba(160, 163, 189, 1);
}

.add-can-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 13px;
}

.task-add-modal {
  width: 288px;
  min-height: 72px;
}

.task-add-can-btn {
  width: 140px;
  height: 32px;
  border-radius: 8px;
  background-color: rgba(247, 247, 252, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(110, 113, 145, 1);
}

.task-add-add-btn {
  width: 140px;
  height: 32px;
  border-radius: 8px;
  background-color: rgba(0, 122, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

footer {
  background-color: rgba(0, 122, 255, 1);
  height: 56px;
  width: 56px;
  position: fixed;
  bottom: 48px;
  right: 48px;
  border-radius: 50%;
}

.fab-plusicon {
  background: none;
  border: none;
}

.dragging {
  opacity: 30%;
}

.history-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 64px;
  right: -366px; /* 시작 위치를 화면 밖으로 */
  width: 350px;
  min-height: 121px;
  max-height: 680px;
  padding: 8px;
  gap: 8px;
  border-radius: 16px;
  background-color: rgba(254, 254, 254, 1);
  box-shadow: 0px 16px 16px 0px rgba(110, 128, 145, 0.24);
}

.history-modal.show {
  transition: right 0.3s ease-in-out;
  right: 48px; /* (1920px - 1018px - 366px) ≈ 48px, 화면 오른쪽에서의 여백 */
}

.history-modal.close {
  transition: right 0.3s ease-in-out;
  right: -400px; /* (1920px - 1018px - 366px) ≈ 48px, 화면 오른쪽에서의 여백 */
}

.history-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding-left: 16px;
}

.history-modal-close-btn {
  display: flex;
  align-items: center;
  width: 65px;
  height: 32px;
  background: none;
  border: none;
  color: rgba(110, 113, 145, 1);
  font-weight: 600;
  gap: 4px;
}

.history-modal-close-btn img {
  width: 16px;
  height: 16px;
}

.history-modal-main {
  overflow: scroll;
  max-height: 560px;
}

.history {
  display: flex;
  flex-direction: row;
  width: 312px;
  height: 81px;
  padding: 16px;
  gap: 16px;
  box-shadow: 0px 0px 4px 0px rgba(110, 128, 145, 0.08);
}

.history-profile-icon {
  display: flex;
  width: 40px;
  height: 40px;
}

.history-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.history-modal-footer {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: end;
  color: rgba(255, 59, 48, 1);
  padding-right: 20px;
}
