.card-list {
    list-style: none;
    padding-left: 0;
    width: 100%;
    height: calc(100vh - 210px);
}

.card-list li {
    background-color: #FEFEFE;
    min-height: 80px;
    max-width: 280px;
    display: flex;
    margin-top: 10px;
    box-shadow: 0 1px 4px 0 #6E80913D;
    border-radius: 5px;
    padding: 20px;
}


.new-card {
    background-color: #FEFEFE;;
    min-height: 80px;
    max-width: 280px;
    display: block;
    margin-top: 10px;
    box-shadow: 0 1px 4px 0 #6E80913D;
    border-radius: 5px;
    padding: 20px;
}


.edit-card {
    position: absolute;
    background-color: #FEFEFE;;
    width: 100%;
    min-height: 80px;
    max-width: 280px;
    display: block;
    margin-top: 10px;
    box-shadow: 0 1px 4px 0 #6E80913D;
    border-radius: 5px;
    padding: 20px;
}


textarea{
    border: none;
    background-color: transparent;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    resize: none;
    scrollbar-color: transparent;
    line-height: 20px;
}

.action-buttons {
    margin-top: 10px;
}

button{
    border:  none;
    flex: 1;
    border-radius: 5px;
    padding: 7px 0;
    transition: opacity 0.2s ease;
}

.cancel-button {
    font-weight: bold;
    background-color: #F7F7FC;
    color: #6E7191;
}

.confirm-button:enabled {
    background-color: #007AFF;
    color: #FEFEFE;
    opacity: 1;
}

.confirm-button:disabled {
    background-color: #007AFF;
    color: #FEFEFE;
    opacity: 0.3;
}

.confirm-button:hover {
    background-color: #007AFF;
    color: #FEFEFE;
    opacity: 0.8;
}

.card-actions button{
    display: flex;
    color: #A0A3BD;
    width: 30px;
    font-size: 24px;
    padding-left: 4px;
    padding-right: 4px;
}

#edit-card-button {
    font-size: 20px;
    padding-top:4px;
    padding-left: 6px;
}

.card-info {
    flex: 1;
    padding-top: 5px;
}

.card-title{
    font-size: 14px;
    font-weight: bold;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.card-content{
    color: #6E7191;
    font-size: 14px;
    margin-top: 10px;
    white-space: normal; 
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#del-card-button:hover {
    color: red;
}


.dragging{
    background-color: #FEFEFE;
    min-height: 80px;
    display: flex;
    margin-top: 10px;
    box-shadow: 0 16px 16px 0 #6E80913D;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    pointer-events: none; /* 복사된 요소가 클릭을 막지 않음 */
    opacity: 0.7; /* 복사본을 반투명하게 */
}