/* 다이얼로그 기본 스타일 */
.action-buttons{
    display: flex;
}

.history-dialog {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 10px 16px #6E80913D, 0 0 4px #6E80913D;
    width: 360px;
    box-shadow: 0 16 16 0 #6E80913D;
    border-radius: 10px;
    border: none;
    padding: 20px;
    display: none;
}

.history-dialog.visible {
    display: block;
}

.history-dialog-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}


.history-dialog-title {
    width: 100%;
    padding-top: 3px;
    font-weight: bold;
}


.history-dialog .material-icons {
    margin: 0px 5px;
    color: #6E7191;
    font-size: 14px;
    align-self: center;
}

.close-history {
    padding: 0px;
    display: flex;
}

.close-history div {
    width: 32px;
    display: flex;
    font-size: 14px;
    align-self: center;
    padding-top: 2px;
    color: #6E7191;
    font-weight: bold;
}

.history-li {
    list-style: none;
    display: flex;
    margin: 20px 0;
    height: auto;
}

.thumb {
    border-radius: 25px;
    margin-right: 20px;
}

.history-content {
    flex: 1;
    color: #6E7191;
}

.detail {
    display: flex;
    margin: 8px 0;
}

.accent {
    font-weight: bold;
    color: #4E4B66;
}