body {
  font-family: Pretendard, "Pretendard Variable", sans-serif;
  background-color: var(--surface-alt);
}
input,
textarea {
  border: none;
}

.display-none {
  display: none;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}
