/* 다이얼로그 기본 스타일 */
.action-buttons{
    display: flex;
}

.history-dialog {
    position: absolute;
    display: block;
    background: white;
    right: -500px;
    border: 1px solid #ccc;
    box-shadow: 0 10px 16px #6E80913D, 0 0 4px #6E80913D;
    width: 360px;
    box-shadow: 0 16 16 0 #6E80913D;
    border-radius: 10px;
    border: none;
    padding: 20px 20px 10px 20px;
    transition: transform 0.5s ease;
}

.history-dialog-header {
    display: flex;
    justify-content: space-between;
}


.history-dialog-title {
    width: 100%;
    padding-top: 3px;
    font-weight: bold;
}


.history-dialog .material-icons {
    margin: 0px 5px;
    color: #6E7191;
    font-size: 14px;
    align-self: center;
}

.close-history {
    padding: 0px;
    display: flex;
}

.close-history div {
    width: 32px;
    display: flex;
    font-size: 14px;
    align-self: center;
    padding-top: 2px;
    color: #6E7191;
    font-weight: bold;
}

#history-area {
    margin: 15px 0px;
    max-height: 55vh;
    overflow-y: auto;
}

.history-li {
    list-style: none;
    display: flex;
    margin: 20px 0;
    height: auto;
}

.no-history{
    display: block;
    text-align: center;
    color: #A0A3BD;
    margin-top: 10px;
}

[data-has-children="true"]  .no-history {
    display: none;
}

.thumb {
    border-radius: 25px;
    margin-right: 20px;
}

.history-content {
    flex: 1;
    color: #6E7191;
}

.detail {
    margin: 8px 0;
}

.accent {
    font-weight: bold;
    color: #4E4B66;
}

.clear-history {
    display: none;
    color: #FF3B30;
    background-color: transparent;
    font-weight: bold;
    float: right;
}

[data-has-children="true"] ~ .clear-history {
    display: block;
}