body {
    background-color:#F7F7FC;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

header {
    display: flex;
}

header h1 {
    font-weight: 700;
}

.header-left {
    display: flex;
    width: 100%;
    align-items: center;
}

.chip {
    display: flex;
    height: 21px;
    border: 1px solid #BEC1D5;
    border-radius: 10px;
    color: #6E7191;
    align-items: center;
    padding: 2px 8px;
    margin-left: 16px;
}

.chip #sort-icon {
    margin-left: 2px;
}

.chip div{
    color: #4E4B66;
    padding: 0 4px;
    font-size: 12px;
    margin-top: 1px;
}

header .icon-button {
    margin: 0px 10px;
    color: #3b3b3b;
}

ul {
    padding-inline-start: 0;
}


.icon-button {
    border: none;
    background: transparent;
}


#column-area {
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
}


.column-id {
    width: 30%;
    min-width: 120px;
    max-width: 320px;
    margin-right: 24px;
}

.column-header {
    display: flex;
    justify-content: space-between;
    height: max-content;
}


.column-header-left {
    display: flex;
    margin-left: 20px;
}

.column-name {
    display: flex;
    align-items: center;
    color: #4E4B66;
    font-size: 19px;
    font-weight: bold;
}


.column-header-right {
    display: flex;
    margin-right: 20px;
}

.column-header-right .material-icons {
    color: #A0A3BD;
}

#delete-cards-button:hover {
    color: red;
}

.card-count {
    display: flex;
    align-items: center;
    color: #A0A3BD;
    border: 1px solid #EFF0F6;
    margin-left: 10px;
    padding: 5px 5px 2px 5px;
    border-radius: 5px;
}


.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: #6E7191;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}

.modal p {
    margin-bottom: 20px;
    font-size: 16px;
}

.modal button {
    margin: 5px;
    width: 172px;
    border: none;
    border-radius: 7px;
    padding: 10px 0;
}

.modal-confirm-button {
    background-color: #FF3B30;
    color: #FEFEFE;
    font-weight: bold;
}

.modal-cancel-button {
    background-color: #F7F7FC;
    color: #6E7191;
    font-weight: bold;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}