@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

body {
  font-family: 'Pretendard Bold', sans-serif;
  padding: 0 80px;
  background-color: rgba(247, 247, 252, 1);
}

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: rgba(20, 20, 43, 1);
}

main {
  /* background-color: rgba(20, 20, 43, 1); */
}

.task-lists {
  display: flex;
  flex-direction: row;
}

.task-list {
  width: 320px;
  height: 24px;
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  font-family: 'Pretendard Variable';
  font-size: 16px;
  position: relative;
}

.column-title {
  margin-right: 9px;
}
.add-btn{
  width: 24px;
  height: 24px;
  position: absolute;
  right: 40px;
}
.edit-btn{
  width: 24px;
  height: 24px;
  position: absolute;
  right: 9px;
}

.task{
  display: flex;
  justify-content: space-between;
  width : 320px;
  height: 104px;
  padding: 16px;
  border-color: black;
  border-width: thin;
  border-radius: 8px;
  background-color: rgba(254, 254, 254, 1);
  box-shadow: 0 1px 4px 0 rgba(110, 128, 145, 0.24);

}
.task-title{
  font-family: 'Pretendard Variable';
  font-size: 14px;
  line-height: 16.41px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-weight: 700;
  color: rgba(20, 20, 43, 1);
}

.task-body{
  font-family: 'Pretendard Variable';
  font-size: 14px;
  line-height: 16.41px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-weight: 500;
  color: rgba(110, 113, 145, 1);
}
.task-author{
  font-family: 'Pretendard Variable';
  font-size: 12px;
  line-height: 14.32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-weight: 500;
  color: rgba(160, 163, 189, 1);
}

footer {
  background-color: rgba(0, 122, 255, 1);
  height: 56px;
  width: 56px;
  position: fixed;
  bottom: 48px;
  right: 48px;
  border-radius: 50%;
}

.fab-plusicon {
  width: 32px;
  height: 32px;
  color: rgba(255, 255, 255, 1);
  margin: 12px;
}

