
@font-face {
    font-family: 'pretendard';
    src: url('./assets/fonts/Pretendard-Medium.woff');
}

@font-face {
    font-family: 'pretendard-bold';
    src: url('./assets/fonts/Pretendard-Bold.woff');
}

* {
    border-width: 0.3px;
    border-color: #000000;
    border-style: solid;
    font-family: 'pretendard';
}
:root {
    
    --color-grayscale-50: #FEFEFE;
    --color-grayscale-100: #F7F7FC;
    --color-grayscale-200: #EFFOF6;
    --color-grayscale-300: #D9DBE9;
    --color-grayscale-400: #BEC1D5;
    --color-grayscale-500: #AOA3BD;
    --color-grayscale-600: #6E7191;
    --color-grayscale-700: #4E4B66;
    --color-grayscale-800: #2A2A44;
    --color-grayscale-900: #14142B;
    --color-accent-blue: #007AFF;
    --color-accent-red: #FF3B30;
    
    --color-bg: var(--color-grayscale-100);
    --color-text-strong: var(--color-grayscale-900);
    --color-text-bold: var(--color-grayscale-700);
    --color-text-default: var(--color-grayscale-600);
    --color-text-weak: var(--color-grayscale-500);
    --color-text-white-default: var(--color-grayscale-50);
    --color-text-white-weak: var(--color-grayscale-100);
    --color-text-brand: var(--color-accent-blue);
    --color-text-danger: var(--color-accent-red);
    --color-surface-default: var(--color-grayscale-50);
    --color-surface-alt: var(--color-grayscale-100);
    --color-surface-brand: var(--color-accent-blue);
    --color-surface-danger: var(--color-accent-red);
    --color-border-default: var(--color-grayscale-200);
    --color-border-bord: var(--color-grayscale-400);
}color-

.body {
    width: 100%;
    background-color: var();
    height: 100%;
}

.header {
    padding: 10px 30px;
}
.header__title {
    color: var(--color-text-bold);
    font-family: 'pretendard-bold';
    font-size: 24px;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.todos {
    width: 320px;
}

.todos__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.todos__header__left-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.todos__header__right-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.todos__header__title {
    display: flex;
    flex-direction: row;
}
.todos__header__todo-count {
    
}
.todos__header__add-btn {

}
.todos__header__delete-btn {

}

.todos__body {
    list-style-type: none;
    width: 100%;
}
.todos__body__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.todos__body__item__left-container {
    display: flex;
    flex-direction: column;
}
.todos__body__item__title {

}
.todos__body__item__content {

}
.todos__body__item__author {

}

.todos__body__item__right-container {
    display: flex;
    flex-direction: column;
}
.todos__body__item__delete-btn {

}
.todos__body__item__modify-btn {

}

.btn {
    width: 24px;
    height: 24px;
    padding: 6px;
    border-radius: 50%;
}
.btn:hover .icon {
    filter: brightness(0) invert(1);
}
.add-btn:hover {
    background-color: var(--color-accent-blue);
}
.edit-btn:hover {
    background-color: var(--color-accent-blue);
}
.delete-btn:hover {
    background-color: var(--color-accent-red);
}

ul, li {
    /* list-style-position: inside; */
    margin: 0;
    padding: 0;
}
button {
    all: unset;
    display: inline-block;
}