main {
    height: calc(100vh - 64px);
    padding: 32px 80px;
}

#column_container {
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.column {
    width: 320px;
    margin-right: 32px;
    &:last-of-type {
        margin: 0;
    }
}

.column > ol {
    list-style-type: none;
}

.column_title {
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.column_button_container {
    margin-left: auto;
}

.card {
    display: flex;
    flex-direction: row;
    border: 1px black solid;
}

.card_text_container {
    flex-grow: 1;
}

.card_button_container {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    padding: 3px;
}