.button-contained, .button-ghost {
    padding: var(--gap-100);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--surface-brand);
    color: var(--text-white-default);
    border-radius: var(--gap-100);
}

.button-contained:hover, .button-ghost:hover {
    opacity: 80%;
}

.button-contained:disabled, .button-ghost:hover {
    opacity: 30%;
}

.button-ghost {
    background-color: transparent;
    color: var(--text-default);
}

.button-text {
    padding: 0 var(--gap-50) 0 var(--gap-50);
}