.contained, .ghost {
    padding: var(--gap-100);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--surface-brand);
    color: var(--text-white-default);
    border-radius: var(--gap-100);
}

.contained:hover, .ghost:hover {
    opacity: 80%;
}

.contained:disabled, .ghost:hover {
    opacity: 30%;
    cursor: not-allowed;
}

.ghost {
    background-color: transparent;
    color: var(--text-default);
}

.sub {
    background-color: var(--surface-alt);
    color: var(--text-default);
}

.danger {
    background-color: var(--surface-danger);
}

.full {
    width: 100%;
}