main {
    display: flex;
    justify-content: space-between;
    padding: 3.2rem 0;
}

section { 
    display: flex;
    flex-direction: column;
    color: var(--grayscale-700);

    button {
        cursor: pointer;
    }

    > .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;

        div:nth-child(1) {
            display: flex;
            align-items: center;
            gap: 0.4rem;
        }

        > div > button {
            align-content: center;
        }
    }

    > list {
        display: flex;
        flex-direction: column;

        gap: 1.6rem;
    }
}

.task-item {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    div {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    width: 312px;

    &.dragging {
        opacity: 0.5;
    }
}

.task-box {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    /* input {
        font-size: 16px;
        font-weight: 700;
        color: var(--grayscale-900);
    }

    textarea{
        font-size: 14px;
        font-weight: 500;
        color: var(--grayscale-600);
        height: auto;
    } */

    .btn-wrapper {
        display: flex;
        justify-content:space-between;
        gap: 8px;

        button {
            width: 140px;
            height: 32px;
        }
    
        button:first-child {
            background-color: #F7F7FC;
        }
    
        button:nth-child(2):disabled {
            color: white;
            background-color: #007AFF;
            opacity: 0.3;
        }
        button:nth-child(2):not(:disabled) {
            color: white;
            background-color: #007AFF;
        }
    }
}

.list {
    min-height: 300px;
}