main {
    display: flex;
    justify-content: space-between;
    padding: 3.2rem 0;
}

section { 
    display: flex;
    flex-direction: column;
    color: var(--grayscale-700);

    button {
        cursor: pointer;
    }

    > .menu {
        display: flex;
        align-items: center;
        gap: 3rem;

        > div > button {
            align-content: center;
        }
    }

    > list {
        display: flex;
        flex-direction: column;

        gap: 1.6rem;
    }
}

.task-item {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}

.task-item button {
    background: var(--accent-blue);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 12px;
}

.task-item button:hover {
    background: var(--accent-blue);
}

.task-box {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    input {
        font-size: 16px;
        font-weight: 700;
        color: var(--grayscale-900)
    }

    textarea{
        font-size: 14px;
        font-weight: 500;
        color: var(--grayscale-600);
        height: auto;
    }

    .btn-wrapper {
        display: flex;
        justify-content:space-between;
        gap: 8px;
    }
}