main {
    height: calc(100vh - 64px);
    padding: 32px 80px;
}

#column_container {
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}


.column {
    width: 320px;
    min-width: 320px;
    margin-right: 32px;
    &:last-of-type {
        margin: 0;
    }
}

.column > ol {
    list-style-type: none;
}

.column_title {
    display: flex;
    align-items: center;
    padding: 0 16px;
    span {
        display: flex;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.column_button_container {
    margin-left: auto;

    >button {
        &:first-of-type {
            &:hover {
                filter: invert(34%) sepia(33%) saturate(6685%) hue-rotate(200deg) brightness(102%) contrast(106%);
            }

        }

        &:last-of-type {
            &:hover {
                filter: invert(35%) sepia(50%) saturate(6582%) hue-rotate(343deg) brightness(110%) contrast(99%);
            }
        }
    }
}



.card {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 16px;
}

.card_text_container {
    flex-grow: 1;
    h4 {
        margin-bottom: 8px;
    }
}

.card_button_container {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    padding: 3px;
}