.column__item {
  width: 32rem;
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-surface-default);
  padding: 1.6rem;
  border-radius: 0.8rem;
  box-shadow: 0px 1px 4px 0px #6e80913d;
}

.column__item__textContainer {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}
.column__item__buttonContainer {
  display: flex;
  flex-direction: column;
}

.delete__img:hover {
  path {
    fill: red;
    transition: fill 0.2s;
  }
}

.column__item__addButtonContainer {
  display: flex;
  gap: 0.8rem;

  .close__button {
    color: var(--color-text-default);
    background-color: var(--color-surface-alt);
  }

  .submit__button {
    color: var(--color-text-white-default);
    background-color: var(--color-surface-brand);
    transition: all 0.2s;
  }

  .submit__button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  button {
    width: 100%;
    padding: 0.75rem 0;
    border-radius: 1.2rem;
    height: 3.2rem;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 3.2rem 2.4rem 2.4rem 2.4rem;
  border-radius: 0.8rem;
  z-index: 10;
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.modal__content {
  color: var(--color-text-default);
}

.modal__buttonContainer {
  display: flex;
  gap: 0.8rem;
  height: 3.2rem;

  button {
    padding: 0.75rem 0;
    width: 17.2rem;
    border-radius: 0.8rem;
  }

  .cancel__button {
    background-color: var(--color-surface-alt);
    color: var(--color-text-default);
  }

  .delete__button {
    background-color: var(--color-surface-danger);
    color: var(--color-text-white-default);
  }
}
