.badge{
    border: 1px solid var(--color_border_default);
    border-radius: var(--number_100);
    padding: var(--number_50);
    color: var(--color_text_weak);
    display: flex;
    justify-content: center;
    align-items: center;
}   