.card {
    width: 100%;
    border-radius: var(--number_100);
    background-color: var(--color_surface_default);
    padding: var(--number_200);
    box-shadow: var(--shadow_normal);
    box-sizing: border-box;
}

.card-default {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card.card-drag {
    box-shadow: var(--shadow_floating);
}

.card-place {
    opacity: 30%;
}

.card-text_area {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-icons {
    display: flex;
    flex-direction: column;
    margin-left: var(--number_50);
}

.card-buttons {
    width: 100%;
    display: flex;
    margin-top: var(--number_200);
    gap: var(--number_100);
}

.card-icon {
    width: 16px;
    height: 16px;
    margin: 6px;
    cursor: pointer;
}

.card-icon:hover path{
    fill: var(--color_text_danger);
}

.card-title {
    width: 100%;
    min-height: 1.5em;
    word-break: break-word; 
    padding: 0;
    margin: 0;
    border: none;
    color: var(--color_text_strong);
    appearance: none;
    resize: none;
    
}

.card-title:focus {
    outline: none;
}

.card-body {
    width: 100%;
    min-height: 1.5em;
    word-break: break-word; 
    padding: 0;
    margin: 0;
    border: none;
    color: var(--color_text_default);
    margin-top: var(--number_100);
    resize: none;
}

.card-body:focus {
    outline: none;
}

.card-author {
    color: var(--color_text_weak);
    margin-top: var(--number_200)
}

.hide {
    display: none;
}

.dragging{
    opacity: 30%;
}

.ghostCard{
    opacity: 30%;
}
