.bg-grayscale50 {
    background-color: var(--grayscale-50);
}

.bg-grayscale100 {
    background-color: var(--grayscale-100);
}

.bg-grayscale200 {
    background-color: var(--grayscale-200);
}

.bg-grayscale300 {
    background-color: var(--grayscale-300);
}

.bg-grayscale400 {
    background-color: var(--grayscale-400);
}

.bg-grayscale500 {
    background-color: var(--grayscale-500);
}

.bg-grayscale600 {
    background-color: var(--grayscale-600);
}

.bg-grayscale700 {
    background-color: var(--grayscale-700);
}

.bg-grayscale800 {
    background-color: var(--grayscale-800);
}

.bg-grayscale900 {
    background-color: var(--grayscale-900);
}

.bg-accentBlue {
    background-color: var(--accent-blue);
}

.bg-accentRed {
    background-color: var(--accent-red);
}




.text-grayscale50 {
    color: var(--grayscale-50);
}

.text-grayscale100 {
    color: var(--grayscale-100);
}

.text-grayscale200 {
    color: var(--grayscale-200);
}

.text-grayscale300 {
    color: var(--grayscale-300);
}

.text-grayscale400 {
    color: var(--grayscale-400);
}

.text-grayscale500 {
    color: var(--grayscale-500);
}

.text-grayscale600 {
    color: var(--grayscale-600);
}

.text-grayscale700 {
    color: var(--grayscale-700);
}

.text-grayscale800 {
    color: var(--grayscale-800);
}

.text-grayscale900 {
    color: var(--grayscale-900);
}

.text-accentBlue {
    color: var(--accent-blue);
}

.text-accentRed {
    color: var(--accent-red);
}

