.columnHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--number_100);
    box-sizing: border-box;
}

.columnHeader-textArea{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--number_100);
}

.columnHeader-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--number_100);
}

.columnHeader-icon{
    padding: 5px;
}