#columnList {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--number_300);

}

.column {
    width: 320px;
    height: 100%;
    padding: 0px var(--number_200) 0px var(--number_200);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}