#column-list{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--number_300);

}

.column{
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}