#header {
    padding: var(--content-vertical-padding) var(--content-horizontal-padding) var(--content-vertical-padding) var(--content-horizontal-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo {
    flex: 1;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.64px;
    color: var(--color_text_strong);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--number_100);
}

#history-icon {
    padding: 5px;
}

#taskContent {
    padding: 32px var(--content-horizontal-padding) var(--content-vertical-padding) var(--content-horizontal-padding);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}