:root {
    margin: 0 auto;

    --color_text_strong: #14142B;
    --color_text_bold: #4E4B66;
    --color_text_default: #6E7191;
    --color_text_weak: #A0A3BD;
    --color_text_white_default: #FEFEFE;
    --color_text_white_weak: #F7F7FC;
    --color_text_brand: #007AFF;
    --color_text_danger: #FF3B30;
    --color_surface_default: #FEFEFE;
    --color_surface_alt: #F7F7FC;
    --color_surface_brand: #007AFF;
    --color_surface_danger: #FF3B30;
    --color_border_default: #EFF0F6;
    --color_border_bord: #BEC1D5;

    --number_50: 4px;
    --number_100: 8px;
    --number_200: 16px;
    --number_300: 24px;
    --number_400: 32px;
    --number_500: 40px;
    --number_600: 48px;
    --number_700: 56px;
    --number_800: 64px;
    --number_900: 72px;

    --border_radius_8: 8px;
    --border_radius_16: 16px;
    --border_radius_50: 50%;

    --shadow_normal: 0px, 1px, 4px, rgba(110, 128, 145, 0.24);
    --shadow_up: 0px, 2px, 8px, rgba(110, 128, 145, 0.32);
    --shadow_floating:0px 1px 4px rgba(110, 128, 145, 0.08),
        0px 16px 16px rgba(110, 128, 145, 0.24),

}

.display-bold24 {
    font-weight: 700;
    font-size: 24px;
}

.display-bold16 {
    font-weight: 700;
    font-size: 16px;
}

.display-bold14 {
    font-weight: 700;
    font-size: 14px;
}

.display-bold12 {
    font-weight: 700;
    font-size: 12px;
}

.display-medium16 {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.display-medium14 {
    font-weight: 500;
    font-size: 14px;
}

.display-medium12 {
    font-weight: 500;
    font-size: 12px;
}

.selected-bold16 {
    font-weight: 700;
    font-size: 16px;
}

.selected-bold14 {
    font-weight: 700;
    font-size: 14px;
}

.available-medium16 {
    font-weight: 500;
    font-size: 16px;
}

.available-medium14 {
    font-weight: 500;
    font-size: 14px;
}
