<li class="todos__body__item">
    <div class="todos__body__item__left-container">
        <div>
            <div class="todos__body__item__title">GitHub 공부하기</div>
            <div class="todos__body__item__content">add, commit, push</div>
        </div>
        <div class="todos__body__item__author">author by web</div>
    </div>
    <div class="todos__body__item__right-container">
        <button class="btn delete-btn" type="button">
            <img class="icon" src="./assets/icon/closed.png">
        </button>
        <button class="btn edit-btn" type="button">
            <img class="icon" src="./assets/icon/edit.png">
        </button>
    </div>
</li>