.container {
    width: 320px;
    padding: 0 var(--gap-200) 0 var(--gap-200);

    display: flex;
    flex: none;
    align-items: center;
    gap: var(--gap-100);
}

.content {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    gap: var(--gap-100);
}

.title {
    color: var(--text-bold);
}