.container-63344bf {
    width: 344px;
    padding: var(--gap-200);

    display: flex;
    gap: var(--gap-200);

    background-color: var(--surface-default);   
}

.img-container-63344bf {
    width: 40px;
    height: 40px;

    flex-shrink: 0;

    border: 1px solid var(--border-default);
    border-radius: 50%;

    background-color: var(--surface-alt);
}

.content-63344bf {
    display: flex;
    flex-direction: column;
    gap: var(--gap-100);
}

.body-63344bf {
    color: var(--text-default);
}

.bold-63344bf {
    color: var(--text-bold);
}

.timestamp-63344bf {
    color: var(--text-weak);
}
.container-df90505 {
    width: 400px;
    padding: var(--gap-400) var(--gap-300) var(--gap-300) var(--gap-300);

    display: flex;
    flex-direction: column;
    gap: var(--gap-400);

    text-align: center;

    border-width: 0;
    border-radius: var(--gap-100);
}

.background-df90505 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #14212B4D;
}

.text-df90505 {
  color: var(--text-default);
}

.buttons-df90505 {
  display: flex;
  gap: var(--gap-100);
}
.container-8805cde {
    min-width: 24px;
    height: 24px;
    padding: var(--gap-50);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--border-default);
    border-radius: var(--gap-100);

    color: var(--text-weak);

    text-align: center;
}
.contained-c3e2d78, .ghost-c3e2d78 {
    padding: var(--gap-100);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--surface-brand);
    color: var(--text-white-default);
    border-radius: var(--gap-100);
}

.contained-c3e2d78:hover, .ghost-c3e2d78:hover {
    opacity: 80%;
}

.contained-c3e2d78:disabled, .ghost-c3e2d78:hover {
    opacity: 30%;
    cursor: not-allowed;
}

.ghost-c3e2d78 {
    background-color: transparent;
    color: var(--text-default);
}

.sub-c3e2d78 {
    background-color: var(--surface-alt);
    color: var(--text-default);
}

.danger-c3e2d78 {
    background-color: var(--surface-danger);
}

.full-c3e2d78 {
    width: 100%;
}
.container-8367cd6 {
    width: 320px;
    padding: var(--gap-200);

    display: flex;

    background-color: var(--surface-default);

    border: 1px solid var(--border-default);
    border-radius: var(--gap-100);
}

.text-container-8367cd6 {
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: var(--gap-100)
}

.icon-container-8367cd6 {
    display: flex;
    flex-direction: column;
}

.title-8367cd6, .body-8367cd6 .caption-8367cd6{
    width: 100%;
}

.title-8367cd6 {
    color: var(--text-strong);
}

.body-8367cd6 {
    color: var(--text-default);
}

.caption-8367cd6 {
    padding-top: var(--gap-100);
    color: var(--text-weak);
}

.buttons-8367cd6 {
    width: 100%;

    padding-top: var(--gap-200);

    display: flex;
    gap: var(--gap-100);
}

/* 타입에 따른 스타일링 */

.add-edit-8367cd6 {
    flex-direction: column;
}

.place-8367cd6 {
    opacity: 0.3-8367cd6;
}

.drag-8367cd6 {
    
}
.container-d7cea73 {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 24px;
    padding: 0 var(--gap-100) 0 var(--gap-100);

    border: 1px solid var(--border-bold);
    border-radius: var(--gap-100);
    color: var(--text-bold);
}

.container-881d5fb {
    width: 320px;
    padding: 0 var(--gap-200) 0 var(--gap-200);

    display: flex;
    flex: none;
    align-items: center;
    gap: var(--gap-100);
}

.content-881d5fb {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    gap: var(--gap-100);
}

.title-881d5fb {
    color: var(--text-bold);
}
.text-982d9e3 {
    padding: 0 var(--gap-50) 0 var(--gap-50);
}
