.task-column {
    width: 320px;
    margin-right: 16px;
}

.task-column__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;
}

.task-column__info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-column__tasks-num {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6px;
}

.task-column__buttons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-column__body {
    list-style: none;
    padding: 0;
}