header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    .logo-section {
        display: flex;

        gap: 16px;

        .change__btn {
            padding: 4px 8px;
            color: var(--grayscale-600);
            border: 1px solid var(--grayscale-600);
            border-radius: 8px;

            font-size: 12px;
            font-weight: 500;

            display: flex;
            align-items: center;
            gap: 4px;
        }
    }

    .activity__list {
        display: none;
        background-color: var(--grayscale-50);
        border-radius: 16px;
        padding: 8px;
        
        .activity__list__header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 16px;
            width: 366px;

            .title {
                font-size: 16px;
                font-weight: 700;
                color: var(--grayscale-900);
            } 

            > div {
                display: flex;
                align-items: center;

                > span {
                    font-size: 14px;
                    font-weight: 700;
                    color: var(--grayscale-600);
                }
            }
        }        

        > ul li:not(:last-child) {
            border-bottom: 1px solid var(--grayscale-200);
          }

        .activity__close__btn {
            display: flex;
            align-items: center;
        }
    }

    .clock__btn {
        position: relative;
    }

    .clock__toggle {
        position: absolute;
        right: 10px;
        top: 60px;
        display: flex;
        flex-direction: column;
    }

    .record__container {
        display: flex;

        img {
            width: 40px;
            height: 40px;
            margin: 16px;
            border-radius: 100%;
        }
    }
}

.text__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px;
    width: 256px;
}

.no__record__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    color: var(--grayscale-500);
}

.record__delete__container{
    display: flex;
    justify-content: flex-end;
    padding: 7.5px 12px;
    margin: 12px 16px 12px;

    button {
        color: var(--accent-red);
        padding: 0;
    }
}