/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    min-width: 400px;
}

body {
    line-height: 1.6;
    background-color: #F7F7FC;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 18px 80px;
}

/* Header Style */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 6.25%;

    .header__title {
        font-family: 'Pretendard', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 28.64px;
        color: #14142B;
    }

    .header__button--sort {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: auto;
        height: 24px;
        margin-left: 20px;
        padding: 3px 10px;
        gap: 3px;
        border: 1px solid #BEC1D5;
        border-radius: 8px;
        font-family: 'Pretendard Variable', sans-serif;
        font-size: 0.75rem;
        font-weight: 500;
        color: #4E4B66;
        overflow: visible;
        white-space: nowrap;
    }

    .header__button--history {
        width: auto;
        height: 24px;
        right: 20px;
        margin-left: auto
    }
}

/* Body Style */
.body {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 2.5rem;
}

/* Column Style */
.column {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    min-width: 250px;

    .column__header {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        padding: 0px 15px;

        .column__header--text {
            display: flex;
            flex-direction: row;
            font-family: 'Pretendard', sans-serif;
            line-height: 24px;
            gap: 10px;

            .column__header--title {
                font-size: 1rem;
                font-weight: 700;
                color: #4E4B66;
            }

            .column__header--count {
                font-size: 0.75rem;
                font-weight: 500;
                color: #BEC1D5;
            }
        }

        .column__header--button {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            gap: 15px;

            .column__header--button--add {
                cursor: pointer;
                font-size: 1.2rem;
                color: #A0A3BD;
            }

            .column__header--button--delete {
                cursor: pointer;
                font-size: 1.2rem;
                color: #A0A3BD;
            }
        }
    }

    .column__body {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
}

/* Card Style */
.card {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: #FEFEFE;
    box-shadow: 0px 1px 4px 0px #6E80913D;

    .card__content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;

        .card__content--title {
            font-family: 'Pretendard', sans-serif;
            font-size: 1rem;
            font-weight: 700;
            color: #14142B;
        }

        .card__content--description {
            display: block;
            font-family: 'Pretendard', sans-serif;
            font-size: 0.75rem;
            font-weight: 500;
            color: #A0A3BD;
            white-space: pre-line;
        }

        .card__content--device {
            display: block;
            font-family: 'Pretendard', sans-serif;
            font-size: 0.75rem;
            font-weight: 500;
            color: #A0A3BD;
        }
    }

    .card__button {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        gap: 5px;

        .card__button--edit {
            width: 14px;
            cursor: pointer;
            font-size: 1.2rem;
            color: #A0A3BD;
        }

        .card__button--delete {
            cursor: pointer;
            font-size: 1.2rem;
            color: #A0A3BD;
        }
    }
}