/* Color Default Value */

:root {
    --grayscale-50: #FEFEFE;
    --grayscale-100: #F7F7FC;
    --grayscale-200: #EFF0F6;
    --grayscale-300: #D9DBE9;
    --grayscale-400: #BEC1D5;
    --grayscale-500: #A0A3BD;
    --grayscale-600: #6E7191;
    --grayscale-700: #4E4B66;
    --grayscale-800: #2A2A44;
    --grayscale-900: #14142B;
    --accent-blue: #007AFF;
    --accent-red: #FF3B30;
}

/* Font */

@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('../public/PretendardVariable.woff2') format('woff2-variations');
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Pretendard Variable', sans-serif;
    min-width: 400px;
    background-color: var(--grayscale-100);
}

body {
    line-height: 1.6;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    border: none;
    outline: none;
    font-family: inherit;

    &::placeholder {
        color: inherit;
        font-family: inherit;
    }
}

textarea {
    border: none;
    outline: none;
    resize: none;
    font-family: inherit;

    &::placeholder {
        color: inherit;
        font-family: inherit;
    }
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* Header Style */

.header {
    height: 64px;
    display: flex;
    flex-direction: row;
    padding: 0px 80px;
    align-items: center;
    justify-content: center;
}

.header__title {
    font-size: 24px;
    font-weight: 700;
    color: var(--grayscale-900);
    position: absolute;
    left: 80px;
}

.header__button--sort {
    width: auto;
    height: 24px;
    display: flex;
    flex-direction: row;
    padding: 0px 8px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid var(--grayscale-400);
    position: absolute;
    left: 194px;
    white-space: nowrap;
}

.header__button--sort svg {
    width: 16px;
    height: 16px;
    display: block;
    color: var(--grayscale-600);
}

.header__button--sort span {
    width: auto;
    height: 17px;
    padding: 0px 4px;
    font-size: 12px;
    font-weight: 500;
    color: var(--grayscale-700);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__button--history {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    position: absolute;
    right: 80px;
}

.header__button--history svg {
    width: 24px;
    height: 24px;
    color: var(--grayscale-600);
}


/* Column List Style */
.column-list {
    width: 1280px;
    margin-top: 32px;
    margin-left: 80px;
    gap: 24px;
    display: flex;
    flex-direction: row;
}

/* Column Style */

.column {
    width: 320px;
    height: auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.column__title {
    width: 320px;
    height: auto;
    padding: 0px 16px;
    gap: 8px;
    display: flex;
    flex-direction: row;
}

.column__textarea {
    width: 100%;
    height: auto;
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.column__textarea-title {
    font-size: 16px;
    font-weight: 700;
    color: var(--grayscale-700)
}

.column__textarea-task-count {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    border: 1px solid var(--grayscale-200);
    padding: 0px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column__textarea-task-count span {
    width: 16px;
    height: 17px;
    font-size: 12px;
    font-weight: 500;
    color: var(--grayscale-500);
    text-align: center;
}

.column__add-button,
.column__close-button {
    width: 24px;
    height: 24px;
    display: block;
    color: var(--grayscale-500);
}

.column__add-button svg,
.column__close-button svg {
    width: 24px;
    height: 24px;
}

/* task Style */

.task {
    width: 320px;
    height: auto;
    min-height: 104px;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--grayscale-50);
    gap: 4px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 1px 4px 0px rgba(110, 128, 145, 0.24);
}

.task--edit {
    gap: 16px;
    flex-direction: column;
}

.task--move {
    opacity: 0.3;
}

.task--drag {
    box-shadow: 0px 16px 16px 0px rgba(110, 128, 145, 0.24),
        0px 0px 4px 0px rgba(110, 128, 145, 0.08);

}

.task__content {
    width: 100%;
    height: auto;
    gap: 16px;
}

.task__content-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 8px;
}

.task__content-title {
    font-size: 14px;
    font-weight: 700;
    color: var(--grayscale-900);
}

.task__content-description {
    font-size: 14px;
    font-weight: 500;
    color: var(--grayscale-600);
}

.task__content-device {
    display: flex;
    width: 100%;
    height: auto;
    font-size: 12px;
    font-weight: 500;
    color: var(--grayscale-500);
}

.task__iconButton {
    width: 24px;
    display: flex;
    flex-direction: column;
}

.task__iconButton-icon {
    width: 24px;
    height: 24px;
    display: block;
    color: var(--grayscale-500);
}

.task__editorButton {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 8px;
    justify-content: center;
}

.task__editorButton button {
    flex: 1;
    width: 100%;
    height: 32px;
    border-radius: 8px;
    padding: 0px 8px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
}

.task__editorButton button:nth-child(1) {
    background-color: var(--grayscale-100);
    color: var(--grayscale-600);
}

.task__editorButton button:nth-child(2) {
    background-color: var(--accent-blue);
    color: var(--grayscale-50);
}