/* Color Default Value */

:root {
    --grayscale-50: #FEFEFE;
    --grayscale-100: #FCFCF7;
    --grayscale-200: #EFF0F6;
    --grayscale-300: #D9DBE9;
    --grayscale-400: #BEC1D5;
    --grayscale-500: #A0A3BD;
    --grayscale-600: #6E7191;
    --grayscale-700: #4E4B66;
    --grayscale-800: #2A2A44;
    --grayscale-900: #14142B;
    --accent-blue: #007AFF;
    --accent-red: #FF3B30;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Pretendard', sans-serif;
    min-width: 400px;
    background-color: var(--grayscale-100);
}

body {
    line-height: 1.6;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    border: none;
    outline: none;

    &::placeholder {
        color: inherit;
    }
}

textarea {
    border: none;
    outline: none;
    resize: none;

    &::placeholder {
        color: inherit;
    }
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 18px 80px;
}


/* Header Style */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 6.25%;

    .header__title {
        font-family: 'Pretendard',
            sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 28.64px;
        color: #14142B;
    }

    .header__button--sort {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: auto;
        height: 24px;
        margin-left: 20px;
        padding: 3px 10px;
        gap: 3px;
        border: 1px solid #BEC1D5;
        border-radius: 8px;
        font-family: 'Pretendard Variable',
            sans-serif;
        font-size: 0.75rem;
        font-weight: 500;
        color: #4E4B66;
        overflow: visible;
        white-space: nowrap;
    }

    .header__button--history {
        width: auto;
        height: 24px;
        right: 20px;
        margin-left: auto
    }
}

/* Body Style */


/* Column Style */


/* task Style */
.task {
    width: 320px;
    height: auto;
    min-height: 104px;
    padding: 0px 16px;
    border-radius: 8px;
    background-color: var(--grayscale-50);
    gap: 4px;
    display: flex;
    flex-direction: row;
}

.task--edit {
    gap: 16px;
    flex-direction: column;
}

.task--move {
    opacity: 0.3;
}

.task--drag {
    box-shadow: 0px 16px 16px 0px rgba(110, 128, 145, 0.24);

    box-shadow: 0px 0px 4px 0px rgba(110, 128, 145, 0.08);

}

.task__textarea {
    width: 100%;
    height: auto;
}