/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #F7F7FC;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Header Style */
.header {
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 6.25%;

    .header__title {
        font-family: 'Pretendard', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 28.64px;
        color: #14142B;
    }

    .header__button--sort {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 24px;
        margin-left: 20px;
        padding: 3px 10px;
        gap: 3px;
        border: 1px solid #BEC1D5;
        border-radius: 8px;
        font-family: 'Pretendard Variable', sans-serif;
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 16px;
        color: #4E4B66;
        white-space: nowrap;
    }

    .header__button--history {
        width: auto;
        height: 24px;
        right: 20px;
        margin-left: auto
    }
}