/* Color Default Value */

:root {
    --grayscale-50: #FEFEFE;
    --grayscale-100: #F7F7FC;
    --grayscale-200: #EFF0F6;
    --grayscale-300: #D9DBE9;
    --grayscale-400: #BEC1D5;
    --grayscale-500: #A0A3BD;
    --grayscale-600: #6E7191;
    --grayscale-700: #4E4B66;
    --grayscale-800: #2A2A44;
    --grayscale-900: #14142B;
    --accent-blue: #007AFF;
    --accent-red: #FF3B30;
}

/* Font */

@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('../public/PretendardVariable.woff2') format('woff2-variations');
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Pretendard Variable', sans-serif;
    min-width: 400px;
    background-color: var(--grayscale-100);
    user-select: none;
    overflow: hidden;
}

body {
    line-height: 1.6;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    border: none;
    outline: none;
    font-family: inherit;

    &::placeholder {
        color: inherit;
        font-family: inherit;
    }
}

textarea {
    border: none;
    outline: none;
    resize: none;
    font-family: inherit;

    &::placeholder {
        color: inherit;
        font-family: inherit;
    }
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

/* Header Style */

.header {
    position: fixed;
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    padding: 0px 80px;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.header__title {
    font-size: 24px;
    font-weight: 700;
    color: var(--grayscale-900);
    position: absolute;
    left: 80px;
}

.header__button--sort {
    width: auto;
    height: 24px;
    display: flex;
    flex-direction: row;
    padding: 0px 8px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid var(--grayscale-400);
    position: absolute;
    left: 194px;
    white-space: nowrap;
}

.header__button--sort svg {
    width: 16px;
    height: 16px;
    display: block;
    color: var(--grayscale-600);
}

.header__button--sort span {
    width: auto;
    height: 17px;
    padding: 0px 4px;
    font-size: 12px;
    font-weight: 500;
    color: var(--grayscale-700);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__button--history {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    position: absolute;
    right: 80px;
}

.header__button--history svg {
    width: 24px;
    height: 24px;
    color: var(--grayscale-600);
}


/* Column List Style */
.column-list {
    width: 100%;
    height: 100%;
    margin-top: 96px;
    margin-left: 80px;
    gap: 24px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    flex: 1;
    flex-wrap: nowrap;
    position: relative;
}

/* Column Style */

.column {
    width: 320px;
    height: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    flex-shrink: 0;
}

.column__title {
    width: 320px;
    height: auto;
    padding: 0px 16px;
    gap: 8px;
    display: flex;
    flex-direction: row;
}


.column__title-edit {
    width: 320px;
    height: auto;
    padding: 0px 16px;
    gap: 8px;
    display: flex;
    flex-direction: row;
}

.column__title-edit input {
    width: 100%;
    height: 24px;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--grayscale-50);
    border-radius: 8px;
    border: 1px solid var(--grayscale-200);
}

.column__textarea {
    width: 100%;
    height: auto;
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.column__textarea-title {
    font-size: 16px;
    font-weight: 700;
    color: var(--grayscale-700)
}

.column__textarea-task-count {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    border: 1px solid var(--grayscale-200);
    padding: 0px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column__textarea-task-count span {
    width: 16px;
    height: 17px;
    font-size: 12px;
    font-weight: 500;
    color: var(--grayscale-500);
    text-align: center;
}

.column__title button,
.column__title-edit button {
    width: 24px;
    height: 24px;
    display: block;
    color: var(--grayscale-500);
}

.column__title button svg,
.column__title-edit button svg {
    width: 24px;
    height: 24px;
}

.column__task-list {
    width: 320px;
    height: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 5px;
}

/* task Style */

.task {
    width: 320px;
    height: auto;
    min-height: 104px;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--grayscale-50);
    gap: 4px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 1px 4px 0px rgba(110, 128, 145, 0.24);
}

.task--edit {
    gap: 16px;
    flex-direction: column;
}

.task--move {
    opacity: 0.3;
}

.task--drag {
    box-shadow: 0px 16px 16px 0px rgba(110, 128, 145, 0.24),
        0px 0px 4px 0px rgba(110, 128, 145, 0.08);
}

.task--ghost {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
    transform: translate(-50%, -50%);
}

.task__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.task__content-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 8px;
}

.task__content-title {
    font-size: 14px;
    font-weight: 700;
    color: var(--grayscale-900);
    text-wrap: wrap;
    text-align: left;

}

.task__content-description {
    font-size: 14px;
    font-weight: 500;
    color: var(--grayscale-600);
    white-space: pre-line;
    text-wrap: wrap;
    text-align: left;
}

.task__content-device {
    width: 100%;
    height: auto;
    font-size: 12px;
    font-weight: 500;
    color: var(--grayscale-500);
}

.task__iconButton {
    width: 24px;
    display: flex;
    flex-direction: column;
}

.task__iconButton-icon {
    width: 24px;
    height: 24px;
    color: var(--grayscale-500);
}

.task__iconButton-icon:first-child {
    &:hover {
        color: var(--accent-red);
    }
}

.task__editorButton {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 8px;
    justify-content: center;
}

.task__editorButton button {
    flex: 1;
    width: 100%;
    height: 32px;
    border-radius: 8px;
    padding: 0px 8px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
}

.task__editorButton button:nth-child(1) {
    background-color: var(--grayscale-100);
    color: var(--grayscale-600);
}

.task__editorButton button:nth-child(2) {
    background-color: var(--accent-blue);
    color: var(--grayscale-50);

    &:disabled {
        opacity: 0.3;
    }
}

/* FAB Style */

.fab {
    width: 56px;
    height: 56px;
    border-radius: 72px;
    position: fixed;
    box-shadow: 0px 2px 8px 0px rgba(110, 128, 145, 0.16), 0px 2px 8px 0px rgba(110, 128, 145, 0.16);
    backdrop-filter: blur(4px);
}

.fab--brand {
    background-color: var(--accent-blue);
    color: var(--grayscale-50);
}

.fab--default {
    background-color: var(--grayscale-50);
    color: var(--grayscale-600);
}

.fab svg {
    width: 24px;
    height: 24px;
}

/* History Style */

.history {
    width: 360px;
    height: auto;
    max-height: 680px;
    position: absolute;
    z-index: 100;
    padding: 8px;
    border-radius: 16px;
    transition: right 0.3s ease-in-out;
    background-color: var(--grayscale-50);
    gap: 8px;
    box-shadow: 0px 16px 16px 0px rgba(110, 128, 145, 0.24), 0px 0px 4px 0px rgba(110, 128, 145, 0.08);
    top: 64px;
    right: -1000px;
}

.history--show {
    right: 56px;
}

.history__title {
    width: 100%;
    height: 48px;
    padding: 8px 8px 8px 16px;
    gap: 4px;
    opacity: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.history__title-text {
    font-size: 16px;
    font-weight: 700;
    color: var(--grayscale-900);
    text-align: left;
}

.history__title-button {
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.history__title-button-icon {
    width: 16px;
    height: 16px;
}

.history__title-button-icon svg {
    width: 16px;
    height: 16px;
}

.history__title-button-text {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 15px;
    font-weight: 500;
    color: var(--grayscale-600);
    text-align: center;
}

.history__list {
    width: 100%;
    height: auto;
    min-height: 49px;
    max-height: 560px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.history__list--empty {
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.history__list--empty span {
    font-size: 14px;
    font-weight: 500;
    color: var(--grayscale-500);
    text-align: center;
}

.history__item {
    width: 100%;
    height: 112px;
    padding: 16px;
    gap: 16px;
    display: flex;
    flex-direction: row;
    background-color: var(--grayscale-50);
    border-bottom: 1px solid var(--grayscale-200);
    text-align: center;
}

.history__item:last-child {
    border-bottom: none;
}

.history__item--thumbnail {
    width: 40px;
    height: 40px;
    border: 1px solid var(--grayscale-200);
    border-radius: 50%;
}

.history__item--content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.history__item--content-username {
    font-size: 14px;
    font-weight: 500;
    color: var(--grayscale-600);
    text-wrap: wrap;
    text-align: left;
}

.history__item--content-description {
    font-size: 14px;
    font-weight: 500;
    color: var(--grayscale-600);
    text-wrap: wrap;
    text-align: left;
}

.history__item--content-description strong {
    font-weight: 700;
    color: var(--grayscale-700);
}

.history__item--content-timestamp {
    font-size: 12px;
    font-weight: 500;
    color: var(--grayscale-500);
    text-wrap: wrap;
    text-align: left;
}

.history__delete {
    width: 100%;
    height: 40px;
    padding: 4px 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.history__delete:disabled {
    display: none;
}

.history__delete button {
    width: auto;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    font-weight: 700;
    color: var(--accent-red);
    text-align: center;
}