.floating-button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-up);
  cursor: pointer;
}

.card {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--number-100);
  border-radius: var(--number-100);
}
