.floating-button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-up);
  cursor: pointer;
}

.card {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--number-100);
  border-radius: var(--number-100);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #14212B4D;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: var(--number-400);
  padding-left: var(--number-300);
  padding-right: var(--number-300);
  padding-bottom: var(--number-300);
  border-radius: var(--number-100);
  box-shadow: var(--shadow-up);
  gap: var(--number-400);
}