@import "./fonts.css";

#root {
  width: 100vw;
  height: 100vh;
  padding: 0 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.column__section {
  height: 90vh;
  display: flex;
  gap: 3.2rem;
}
