html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 24px;
}
.header__title {
    color: var(--color-text-bold);
    font: var(--font-bold-l);
    font-size: 24px;
}

.activity-history__toggle-btn {
    margin: 0px 20px;
}
.activity-history__toggle-btn:hover {
    background-color: var(--color-accent-blue);
}
.activity-history {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: -16px;
    right: 20px;
    width: 320px;
    background-color: var(--color-surface-default);
    border-radius: 8px;
    padding: 16px;
    margin: 5px 0px;
    box-shadow: var(--shadow-up);
}
.activity-history__header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.activity-history__title {
    font: var(--font-bold-m);
    color: var(--color-text-bold);
}
.activity-history__close-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.activity-history__close-label {
    font: var(--font-bold-s);
    color: var(--color-text-weak);
}
.activity-history__body {
    display: flex;
    width: 100%;
}
.activity-history__item {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 16px 0px;
}
.activity-history__item__profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 16px 0px 0px;
}
.activity-history__item__nickname {
    font: var(--font-bold-r);
    color: var(--color-text-weak);
}
.activity-history__item__content {
    font: var(--font-bold-r);
    color: var(--color-text-default);
    margin: 8px 0px;
}
.activity-history__item__time {
    font: var(--font-medium-s);
    color: var(--color-text-weak);
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 20px;
    position: relative;
}

.todos {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0px 8px;
}

.todos__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.todos__header__left-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 16px;
}
.todos__header__right-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.todos__header__title {
    display: flex;
    flex-direction: row;
    font: var(--font-bold-m);
    color: var(--color-text-bold);
}
.todos__header__todo-count {
    border-radius: 4px;
    border-width: 1px;
    border-color: var(--color-border-default);
    padding: 3px 6px;
    margin: 0px 10px;
}

.todos__body {
    list-style-type: none;
}
.todos__body__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-surface-default);
    border-radius: 8px;
    padding: 16px;
    margin: 5px 0px;
    box-shadow: var(--shadow-normal);
}
.todos__body__item__left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.todos__body__item__title {
    font: var(--font-bold-r);
    margin: 4px 0px 0px 0px;
}
.todos__body__item__content {
    font: var(--font-medium-r);
    color: var(--color-text-default);
    margin: 4px 0px 0px 0px;
}
.todos__body__item__author {
    font: var(--font-medium-s);
    color: var(--color-text-weak);
}
.todos__body__item__right-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -6px;
    right: -6px;
}

.todos__drag-zone {
    flex: 1;
    width: 100%;
    padding: 100px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.todos__add-form {
    display: flex;
    flex-direction: column;
    background-color: var(--color-surface-default);
    border-radius: 8px;
    padding: 16px;
    margin: 5px 0px;
    box-shadow: var(--shadow-normal);
}

.todos__add-form__input-title {
    border: none;
    background-color: var(--color-surface-default);
    outline: none;
    padding: 0px 0px 8px 0px;
    font: var(--font-bold-r);
}
.todos__add-form__input-content {
    border: none;
    background-color: var(--color-surface-default);
    outline: none;
    font: var(--font-medium-r);
}
.todos__add-form__button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 0px 0px 0px;
}
.todos__add-form__submit-btn {
    width: 140px;
    height: 32px;
    border: none;
    background-color: var(--color-surface-brand);
    border-radius: 8px;
    text-align: center;
    color: var(--color-text-white-default);
    font: var(--font-medium-r);
}
.todos__add-form__cancel-btn {
    width: 140px;
    height: 32px;
    border: none;
    background-color: var(--color-surface-alt);
    margin: 0px 8px 0px 0px;
    border-radius: 8px;
    text-align: center;
    color: var(--color-text-default);
    font: var(--font-medium-r);
}

.after-image {
    opacity: 0.35;
}

.btn {
    width: 24px;
    height: 24px;
    padding: 6px;
    border-radius: 50%;
}
.btn:hover .icon {
    filter: brightness(0) invert(1);
}
.add-btn:hover {
    background-color: var(--color-accent-blue);
}
.edit-btn:hover {
    background-color: var(--color-accent-blue);
}
.delete-btn:hover {
    background-color: var(--color-accent-red);
}
